* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(231, 229, 229, 0.904);
}
.container {
  max-width: 100%;
  margin: 0 auto;
}

.header {
  padding-top: 30px;
}
.nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 15px;
  margin-bottom: 50px;
}

.list {
  display: flex;
  gap: 50px;
}

.list-logo {
  display: flex;
}
.home:hover {
  color: gray;
  cursor: pointer;
}
.works:hover {
  color: gray;
  cursor: pointer;
}
.services:hover {
  color: gray;
  cursor: pointer;
}
.about:hover {
  color: gray;
  cursor: pointer;
}
.contact:hover {
  color: gray;
  cursor: pointer;
}
.kelvin {
  color: black;
  font-size: 30px;
  display: block;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  justify-content: space-between;
}
.flex {
  display: flex;
}
.kkk {
  font-size: 10px;
  margin-bottom: 8px;
  line-height: 15px;
  max-width: 280px;
  margin-top: 25px;
}
.kk {
  margin-top: 10px;
  margin-bottom: 15px;
}
.kkkk {
  font-size: 40px;
  max-width: 262px;
}
.hero {
  max-width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.kelvin-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
  flex-wrap: wrap;
}
.development {
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  width: 100%;
  flex-wrap: wrap;
}
.one {
  max-width: 333px;
  height: 200px;
  padding-left: 30px;
}
.two {
  max-width: 334px;
  height: 200px;
  padding-left: 30px;
}
.three {
  max-width: 333px;
  height: 200px;
  padding-left: 30px;
}
.img-onee {
  background-image: url(graphic\ 1.svg);
  width: 55px;
  height: 55px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.img-two {
  background-image: url(startup\ 1.png);
  width: 55px;
  height: 55px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.img-three {
  background-image: url(browser\ 1.svg);
  width: 55px;
  height: 55px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.ui {
  font-weight: 1000;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.our {
  color: rgb(59, 59, 59);
  font-size: 12px;
  width: 250px;
  line-height: 180%;
}
.portfolioo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 23px;
  padding-top: 40px;
}
.portfolio {
  max-width: 1350px;
  padding-right: 70px;
  padding-left: 70px;
}
.new-collection {
  background-image: url(Слой\ 8.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 50px;
}
.reebok {
  background-image: url(reebok_web.jpg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-top: 60px;
}
.reebok-web {
  background-image: url(reebok_web.png);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-top: 60px;
}
.online {
  font-size: 17px;
  text-align: center;
  margin-top: 30px;
  font-family: system-ui;
}
.concept {
  font-size: 17px;
  text-align: center;
  margin-top: 30px;
  font-family: system-ui;
}
.concept-two {
  font-size: 17px;
  text-align: center;
  margin-top: 30px;
  font-family: system-ui;
  margin-bottom: 30px;
}
.footer {
  background-color: white;
  height: 550px;
  margin: 0 auto;
  width: 100%;
}
.contacts {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 23px;
  padding-top: 90px;
  margin: 0 auto;
}
.want {
  font-family: system-ui;
  text-align: center;
  margin: 0 auto;
}
.t {
  padding-top: 60px;
}
.button {
  background-color: black;
  width: 180px;
  height: 30px;
  border-radius: 50px 50px 50px 50px;
  margin: 0 auto;
  margin-top: 50px;
  color: white;
  font-size: 22px;
  text-align: center;
  padding-bottom: 6px;
  font-family: system-ui;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(44, 44, 44);
}
.socials-club {
  height: 42px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  margin-top: 40px;
  opacity: 1;
}
.linke {
  width: 40px;
  height: 42px;
  background-repeat: no-repeat;
}
.instagram {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}
.benance {
  width: 40px;
  height: 42px;
  background-repeat: no-repeat;
  justify-content: space-between;
}
.dribble {
  width: 40px;
  height: 42px;
  background-repeat: no-repeat;
}
.socials {
  width: 350px;
  height: 42px;
  background-image: url(Socials.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-top: 60px;
}
.like {
  color: gray;
  text-align: center;
  font-size: 13px;
  margin: 0 auto;
  cursor: pointer;
}
.d:hover {
  text-decoration: underline;
  cursor: pointer;
}
.burger-menu {
  display: none;
  width: 30px;
  height: 2px;
}
.burger {
  width: 24px;
  height: 29px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.burger-menu:hover .burger-submenu {
  display: block;
}
.burger-submenu {
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
  /* height: 250px; */
  background-color: rgb(199, 199, 199);
  /* box-shadow: 0px 0px 6px; */
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0, 4s;
}
.flex {
  display: flex;
}
.line {
  height: 1px;
  width: 24px;
  background-color: black;
}
li:hover {
  background-color: rgba(218, 214, 214, 0.904);
}
.l {
  padding: 0px 15px;
}
.list-style-type {
  list-style-type: none;
  display: flex;
  margin-left: 10px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.hover:hover {
  opacity: 0.7;
  cursor: pointer;
}
@media screen and (max-width: 1050px) {
  .list {
    display: none;
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .development {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 400px) {
  .kelvin-hero {
    justify-content: center;
  }
}
